

#multiple li { 
  cursor: pointer; 
  text-decoration: none;
  list-style-type:none;

}



#resposta {
	position: relative;
	width: auto;
	height: auto;

	}
	
input[type=text]{
border: 1px solid #d3d5d6;
	
	height: 30px;
	padding-left:10px;
	width:450px;
	font-size: 12px;
	}


	
.map_canvas { 

position:relative;
top:0;
  width: 100%; 
  height: 200px;
  border: 1px solid #ECECEC;

}


.jquery-waiting-base-container {
	position: absolute;
	left: -2px;
	top: -2px;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 999999;
	opacity: 0.95;
	-moz-opacity: 0.95;
	filter: alpha(opacity = 95);
	background-color:#FFFFFF;
	
	background-image: url("../imgs/loading.gif");
	background-repeat: no-repeat;
	background-position: 50% 35%;
	padding-top: 250px;
}
 #total{
	 position: relative;
	    width: 100%;
    height: 100%;


	
  }
 #total1{

position:relative;
	 
    width: 100%;
 
	
	
  }
  
  

	table.bordasimples {
		border-collapse: collapse;
		
		font-size: 11px;
		}
	
	  table.bordasimples tr {
		  border-color: #ECECEC;
	
		}
	
	table.bordasimples td {

	
	}

	
	table.bordasimples1 {
		border-collapse: collapse;
	
		padding-left: 20px;
		border-color: #ECECEC;
	
		}
	
	  table.bordasimples1 tr {
		  border-color: #ECECEC;
		  
		}
	
	table.bordasimples1 td {
		border-color: #cccccc;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 5px;
	
	
	}

	#apDiv3 {
		position: fixed;
		width: 76px;
		height: 53px;
		z-index: 99999999;
		top: 0px;
		left: 0px;
	}

#apDiv11 {
	position:absolute;
		 
	width: 640px;
	top: 60px;
	padding-left: 20px;
	padding-bottom: 200px;

	
}
	
hr {
	
	height: 10px;
	background-color:#ECECEC;

	}


	#quantidade {
	position: absolute;

	width: 365px;
	top: 79px;
	left: 41px;
	height: 27px;
	}
	#quantidade select {
	border: 1px solid #ECECEC;
	
	height: 20px;
	
	 width: 208px;
    height: 20px;
    overflow: hidden;
   	background:transparent;
	
	}
	
	#tipo {
	position: absolute;

	width: 312px;
	top: 21px;
	left: 797px;
	height: 172px;
	}

#ativo {
	position: absolute;

	width: 355px;
	top: 153px;
	left: 420px;
	height: 35px;
	}
	
	#ativo input[type="checkbox"] {
   border: 1px solid #ECECEC;
	
	
	
}

	#tipo_1 {
	position: absolute;

	width: 22px;
	top: 87px;
	left: 893px;
	height: 24px;
	}
		#tipo_2 {
	position: absolute;

	width: 22px;
	top: 87px;
	left: 973px;
	height: 24px;
	}
		#tipo_3 {
	position: absolute;

	width: 22px;
	top: 87px;
	left: 1053px;
	height: 24px;
	}
	
	#tipo_4 {
	position: absolute;

	width: 22px;
	top: 175px;
	left: 893px;
	height: 24px;
	}
	
	#tipo_5 {
	position: absolute;

	width: 22px;
	top: 175px;
	left: 973px;
	height: 24px;
	}
	#tipo_6 {
	position: absolute;

	width: 22px;
	top: 175px;
	left: 1053px;
	height: 24px;
	}
	#apDiv12xx {
	position: absolute;
	width: 465px;
	height: 75px;
	z-index: 1;
	left: -10px;
	top: 40%;
	padding: 10px;
}
	
	#apDiv13 {
	position: absolute;
	width: 90px;
	height: 32px;
	z-index: 1;
	left: 1196px;
	top: 620px;
}

	#apDiv13c {
	position: absolute;
	width: 90px;
	height: 32px;
	z-index: 1;
	left: 1196px;
	top: 620px;
}
#cor_volta{
	position: absolute;
	width: 16px;
	height: 16px;
	top: 3px;
	left: 93px;
	}
	




#apDiv21 {
	position: absolute;
	width: 100%;
	height: 2px;
	z-index: 11;
	top: 11%;
	left: 0px;
	background-color:#EBEBEB;
}
  

	
input[type=button] {  
	color: #fff;
	border: 1px solid #2867b1;
	background: #2867b1;

	
	font-size:11px;
	
	height: 34px;
	width:100px;
font-weight:bold;
    }  
	
input[type=button]:hover{
	background: #2867b1;
	border: 1px solid #2867b1;
	cursor:pointer;
    }  
	

	input[type=submit] {  
		color: #fff;
		border: 1px solid #2867b2;
		background: #2867b2;
	
		
		font-size:11px;
		
		font-weight:bold;
		height: 34px;
		width:146px;
		
		}  
		
	input[type=submit]:hover{
		background-color: #888888;
		transition: background-color 0.2s;
	  cursor:pointer;
	  color: #FFF;
	  border: 1px solid #888888;
		}  
	
	



::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #d3d5d6;
}


::-webkit-scrollbar-track:horizontal {
    background-color: #F4F4F4;
 }

 ::-webkit-scrollbar:horizontal {
  
    height: 6px;
    background: #000000;
}
::-webkit-scrollbar-thumb:horizontal {
    background: #d3d5d6;
}