

	#pag1x{
		position: fixed;
								width: 100%;
								left: 0px;
								top: 0px;
								height:100%;
							
							z-index:999999999999999999999999999999999999;
							background-color: white;
						
							background-repeat: repeat;
							background-size: cover;
							opacity: 0.7;
						
		}
	
	
	  #pag2x{
		position: fixed;
							width: 1216px;
							height: 700px;
							top: 4px;
							left: 18px;
						
							position: absolute;
							border: 1px solid silver;
							background-color: white;
							overflow: scroll;
							
						
								z-index:999999999999999999999999999999999999;
								
							
		}
			
		

#sidebar {
    display: none;
	
	position: absolute;
	width: 470px;
	height: 60px;
	z-index: 99999;
	right:0px;
	top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 10px;
	background-color:#FFFFFF;
	padding:50px;
	color:#000000;
	
	
	border: 1px solid #589bd4;
	


	
}

.help:hover #sidebar {
    display:block;


}

#help {
	position: absolute;
	width: 50px;
	height: 51px;
	right:270px;
	top: -25px;
	cursor: pointer;
	z-index:3;
}




.jquery-waiting-base-container {
		position: absolute;
	left: -2px;
	top: -2px;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 999999;
	opacity: 0.95;
	-moz-opacity: 0.95;
	filter: alpha(opacity = 95);
	background-color:#FFFFFF;
	
	background-image: url("../imgs/loading.gif");
	background-repeat: no-repeat;
	background-position: 50% 35%;
	padding-top: 250px;
}

.info {
	
	color: black;
	background-color: #FFF;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 10px;
	text-align: center;
	width: 100%;
	height:100%;
	white-space: nowrap;
	border: 2px solid #FFF;
	line-height:20px;
	overflow: hidden;
  }
  

 .labels {
	 border-radius: 50%;
     color: white;
     background-color: #2867b2;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     text-align: center;
     width: 20px;
	 height:20px;
     white-space: nowrap;
	 border: 2px solid #579BD3;
	 line-height:20px;
   }
   
#apDiv22 {
	position: absolute;
	width: 190px;
	height: 115px;
	z-index: 10;
	left: 892px;
	top: 54px;
}

#lista li{
	
	
	list-style: none;
	cursor: move;
	background-color: #FFF;
	height: 40px;
  
}



#lista ul {
	text-align: left;
	padding: 0px;
	margin: 0px;
	background-color: #FFF;


}


#linha_table_01{
		
	position: absolute;
	left: 0px;
	font-size: 10px;
}

#linha_table_01_x{
	
	position: relative;
	left: 0px;
	font-size: 10px;
}



#apDiv23 {
	position: absolute;
	width: 200px;
	height: 37px;
	z-index: 10000;
	left: -208px;
	top: 339px;
}



#div16 {
	
	visibility: hidden;
	position: absolute;
	
	width: 320px;
	line-height: 16px;
	font-size: 10px;
	height: 10px;

}


#apDiv13_otimiza {
position: absolute;
	width: 90px;
	height: 32px;
	z-index: 1;
	left: 56.5%;
	top: 0px;
}	
button {  
	color: #FFF;

	cursor: pointer;

	
	font-size:11px;
	
	font-weight:bold;
	text-align: right;
	padding-right: 10px;
	height: 22px;
	width:100%;
	
	}  


	
#layer input[type=submit] {  
	color: #fff;
	border: 1px solid #2867b2;
	background: #2867b2;

	
	font-size:11px;
	
	font-weight:bold;
	height: 34px;
	width:150px;
	
	}  
	
	#layer	input[type=submit]:hover{
		background-color: #888888;
		transition: background-color 0.2s;
	  cursor:pointer;
	  color: #FFF;
	  border: 1px solid #888888;
		}  
	
#footer	input[type=submit] {  
		color: #fff;
		border: 1px solid #2867b2;
		background: #2867b2;
	
		
		font-size:11px;
		
		font-weight:bold;
		height: 34px;
		width:76px;
		
		}  
		
#footer	input[type=submit]:hover{
		background-color: #888888;
		transition: background-color 0.2s;
	  cursor:pointer;
	  color: #FFF;
	  border: 1px solid #888888;
		}  

		
#div_nova_fora {
	position: relative;
	
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:16px;
	background-color:#FF0000;
	height:35px;
	line-height:35px;
	text-align:center;
	font-weight:bold;
}

#apDiv13_todos {
	position: absolute;
	width: 404px;
	height: 32px;
	z-index: 1;
	right: 51px;
	top: -19px;
}
#vistitaae {

	font-size: 10px;




}
#div_nova {
	position: relative;
	
	color:#000000;
	font-size:16px;
	background-color:#ECECEC;
	height:45px;
	line-height:45px;
	text-align:left;
	font-weight:bold;
	padding-left: 46px;




}
hr {
		
	
	height: 10px
}
#div_nova_limite {
	position: relative;
	
	color:#FFF;
	font-size:16px;
	background-color:#ee0000;
	height:35px;
	line-height:35px;
	text-align:center;
	font-weight:bold;



 width:100%;
}

#div_nova2 {
	position: relative;
	width: 100%;

	
	
	}
	
.div_nova2_tabela {
    background-color: #FFFFFF;

	margin-top:5px;
	margin-bottom:5px;
	padding-top:5px;
	text-align: center;
	}


#div_nova3 {
	position: relative;
	

	
	color:#000000;
	font-size:11px;
	background-color:#f3f2f2f6;
	height:35px;
	line-height:35px;
	text-align:center;
	width:50%;


 float:left;
 
}
#div_nova4 {
	position: relative;

	color:#000000;
	font-size:11px;
	background-color:#f3f2f2f6;
	height:35px;
	line-height:35px;
	text-align:center;
		width:50%;


 
 float:right;
 
}

#div_nova3a {
	position: relative;
	
	
	color:#000000;
	font-size:11px;
	background-color:#FFFFFF;
	height:35px;
	line-height:35px;
	text-align:center;
		width:50%;
	margin-top:1px;
	margin-bottom:5px;

 float:left;
 margin-top:5px;
}

#div_nova4a{
	position: relative;

	color:#000000;
	font-size:11px;
	background-color:#FFFFFF;
	height:35px;
	line-height:35px;
	text-align:center;
	width:50%;
	
	margin-bottom:5px;
	

 float:right;
 margin-top:5px;
}
#div_nova5 {
	position: relative;
	width: 100%;
	
	padding-top:30px;
	
}

#div_nova6 {
	position: relative;
	width: 100%;
	
	
}
#div_nova_titulo_ordem{
	position: relative;

	font-size:11px;

	width:100%;

	background-color: #f3f2f2f6;
	 float: right;
	
	 
 
}

.div_nova_tabela_titulo_ordem {
	
    background-color: #f3f2f2f6;
	
	
	padding-top:10px;
	padding-bottom:10px;
	
	
	padding-left:42px;
	width:100%;
	text-align:left;
	height:40px;
	
	}



.jquery-waiting-base-container1 {
	position: absolute;
	left: -2px;
	top: -2px;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 999999;
	opacity: 0.95;
	-moz-opacity: 0.95;
	filter: alpha(opacity = 95);
	background-color:#000;
	
	background-image: url("../imgs/loading.gif");
	background-repeat: no-repeat;
	background-position: 50% 35%;
	padding-top: 250px;
}


#apDiv14c {
	position: absolute;

	width: 50%;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0px;
	resize: both;
	font-size: 11px;
	line-height: 16px;

	background:#cc0000;
	transition: 0.5s;

	box-shadow: 1px 0px 50px rgba(0, 0, 0, 0.5);
}


#apDiv14c_mapa {
	position: absolute;

	width: 100%;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0px;

	font-size: 11px;
	line-height: 16px;

}


#map-canvas {
	position: absolute;

	width: 50%;
	height: 100%;
	left: 50%;
	
	top: 0px;
	z-index: 0;
	
  }

#apDiv13_volta {
	position: absolute;
	width: 90px;
	height: 32px;
	z-index: 1;
	left: 189px;
	top: 0px;
}


#apDiv13 {
	position: absolute;
	width: 90px;
	height: 32px;
	z-index: 999999999;
	left: 293px;
	top: 0px;
}



#info{
	font-family:Arial, Helvetica, sans-serif;
	color:#2867b1;
	
	padding-bottom:10px;
	padding-top:10px;
	width:100%;
	
	
	
	}
	
#rota{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:16px;
	background-color:#579BD3;
	height:35px;
	line-height:35px;
	text-align:center;
	font-weight:bold;


 width:100%;
	}
	
#distancia{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:11px;
	background-color:#2867b2;
	height:35px;
	line-height:35px;
	text-align:center;
	width:100px;


 float:left;
	}
	
#distancia_resposta{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:11px;
	background-color:#5cbb69;
	height:35px;
	line-height:35px;
	text-align:center;
	width:100px;
	margin-top:1px;
	margin-bottom:10px;

 float:left;
	}
#tempo_resposta{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:11px;
	background-color:#5cbb69;
	height:35px;
	line-height:35px;
	text-align:center;
	width:100px;
	margin-top:1px;
	margin-bottom:10px;
	

 float:right;
	}
#tempo{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:11px;
	background-color:#2867b2;
	height:35px;
	line-height:35px;
	text-align:center;
	width:100px;


 
 float:right;
	}
#legenda1{
	font: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:15px;
	padding-top:10px;
	padding-left:5px;
	padding-bottom:5px;
		color: #000;

	}
#legenda2{

	font: Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #000;
	padding-left:5px;
	line-height:20px;
}

#legenda3{
	font: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:5px;
	padding-top:0px;
	padding-left:5px;
	padding-bottom:10px;
	color: #000;

	}
a:link {text-decoration: none;} 

#apDiv15 {
	position: absolute;
	width: 29px;
	height: 26px;
	z-index: 100;
	left: -58px;
	top: 295px;
}
#sanfona {
	 width:100%;
	 height:125px;
	 background-color:#F90004;
	 }

#teste {
	 width:100%;
	 height:25px;
	 background-color:#F90004;
	 }

	 
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #d3d5d6;
}


::-webkit-scrollbar-track:horizontal {
    background-color: #F4F4F4;
 }

 ::-webkit-scrollbar:horizontal {
  
    height: 6px;
    background: #000000;
}
::-webkit-scrollbar-thumb:horizontal {
    background: #d3d5d6;
}



#apDiv16 {
	position: absolute;
	width: 252px;
	height: 676px;
	z-index: 100;
	left: 20px;
	top: 50px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	overflow-y: scroll;
	line-height: 15px;
	padding-left: 15px;
	padding-top: 15px;
	background-color: #FFFFFF;
	border: 1px solid #cccccc;	
	
}
#apDiv_new {
	position: absolute;
	width: 252px;
	height: 200px;
	z-index: 100;
	left: 456px;
	top: 10px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	overflow-y: scroll;
	line-height: 15px;
	padding-left: 15px;
	padding-top: 15px;
	background-color: #FFFFFF;
	border: 1px solid #579bd3;	
	
}
#apDiv17 {
	position: absolute;
	width: 41px;
	height: 38px;
	z-index: 200;
	left: -12px;
	top: 293px;
}
#apDiv17a {
	position: absolute;
	width: 41px;
	height: 38px;
	z-index: 200;
	left: 356px;
	top: 287px;
}

#apDiv18 {
	position: absolute;
	width: 185px;
	height: 36px;
	z-index: 200;
	left: 255px;
	top: 453px;
}
#apDiv19 {
	position: absolute;
	width: 103px;
	height: 115px;
	z-index: 10000;
	left: -193px;
	top: 157px;
}
#apDiv20 {
	position: absolute;
	width: 76px;
	height: 115px;
	z-index: 10000;
	left: -134px;
	top: 157px;
}
#apDiv21 {
	position: absolute;
	width: 72px;
	height: 115px;
	z-index: 10000;
	left: -76px;
	top: 156px;
}

#apDiv11 {
position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	left: 0px;
	top: 0px;
	background-color:#fff;
	
	
	
}


 #total{
    width: 98%;
    height: 280px;
	overflow: auto;
	background-color: #FFF;
		border-color:#666;
  }
  
  ul {
	list-style-type: none;
   }

   .list-group{
	border-collapse: collapse;
	width: 100%;
}

.list-group-item{

	border:0.2px solid #d3d5d6;

	font-size: 9px;

text-align:left;

height: 10px;
cursor: move;

display: flex;
justify-content: center;
align-items: center;



}

table.bordasimples {
	border-collapse: collapse;
	
	}

table.bordasimples tr td {

	border:0.2px solid #d3d5d6;

	font-size: 9px;
	text-align:left;
	padding-left: 5px;
}


#apDiv1 {
	position: absolute;
	width: 100%;
	height: 33px;
	z-index: -1;
	left: 0px;
	top: 0px;
	background-color: #589bd4;
}
#apDiv2 {
position: absolute;
	width: 76px;
	height: 100%;
	z-index: 2;
	left: 0px;
	top: 33px;
	background-color: #589bd4;
}
#apDiv3 {
	position: absolute;
	width: 76px;
	height: 53px;
	z-index: 99999999;
	top: 0px;
	left: 0px;
}
#apDiv4 {
	position: absolute;
	width: 76px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 184px;
	
}
#apDiv5 {
	position: absolute;
	width: 76px;
	height: 65px;
	z-index: 5;
	left: 0px;
	top: 102px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
		text-transform: uppercase;

}

#apDiv6 {
	position: absolute;
	width: 76px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 238px;
	
}

#apDiv7 {
	position: absolute;
	width: 76px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 292px;
	
}
#apDiv8 {
	position: absolute;
	width: 76px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 346px;
	
}

#apDiv9 {
	position: absolute;
	width: 76px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 400px;
			opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
#apDiv5 table tr td {
	color: #FFF;

	
}

	
	#apDiv14 {
	position: absolute;
	width: 86px;
	height: 23px;
	z-index: 101;
	left: 34px;
	top: 152px;
	font: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 16px;
	color: #FFF;
}

	.footer {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background: #589bd4;

		text-align: center;
		height: 34px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		z-index: 99999;
		overflow-y: auto;
		
	  }

	  #load {
		width: 100vw;
		height: 100vh;
		background: #FFFFFF;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		font-size: 12px;
		line-height: 16px;
	}
	.box {
		width: 350px;
		height: 28px;
		background: #2867b2;
		text-align: center;
		color: #fff;
		padding-top: 15px;
		}
	  
#apDiv14c_hidden {
	position: absolute;
	
	width: 100%;
	height: 100%;
	z-index: -1;
	left: 0px;
	top: 0px;
	
	font-size: 11px;
	line-height: 16px;
	color: #FFF;
}


#layer {
	position: absolute;
overflow: scroll;
	width: 100%;
	height: 100%;
	z-index: -1;
	left: 0;
	top: 0px;
	
	font-size: 11px;
	line-height: 16px;

	background:#FFF;
	padding-right: 30px;
}






	#botao{
	position: absolute;
	left: 970px;
	top: 38px;
	z-index:9999;
	}
	
	#botao2{
	position: absolute;
	left: 755px;
	top: 145px;
	z-index:9999;
	}
#popup{
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;

	}
#pag1{
	position: absolute;
	width: 770px;
	left: 228px;
	top: 58px;
	height: 472px;
	z-index: 9998;
	
	border: 1px solid #dcdbdb;

}
#pag1a{
	position: absolute;
	width: 500px;
	left: 310px;
	top: 128px;
	height: 315px;
	z-index: 9998;
	

}
#Pagina {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;

	z-index:9999;
	background-color: rgba(0,0,0,.7);
	}  
	#Paginaa {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;

	z-index:9999;
	background-color: rgba(0,0,0,.7);
	

	} 



      #color-palette {
		width: 200px;
        clear: both;
      }

      .color-button {
        width: 14px;
        height: 14px;
        font-size: 0;
        margin: 2px;
        float: left;
        cursor: pointer;
      }

      #delete-button {
        margin-top: 5px;
      }
	  
input[type="text"]
{
    background: transparent;
    border: none;
	text-align:center;
}


#apDiv10 {
	position: absolute;
	width: 151px;
	height: 41px;
	z-index: 6;
	left: 27px;
	top: 404px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	line-height:15px;
	}
.div_transparente {
	display:none;
	}
	
.div_result {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	display:none;
	}

	
.sidenav {
	height: 100%;
	width: 740px;
	position: fixed;
	z-index: 9999999999;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
	border: 1px solid grey;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 0px;
	box-shadow: 1px 0px 50px rgba(0, 0, 0, 0.5);
  }

.sidenav a {
  
	text-decoration: none;
	font-size: 11px;
	
	color: #000000;
	display: block;
	transition: 0.3s;
  
	padding-right: 10px;
  }
  
  .sidenav a:hover {
	color: #cc0000;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 0px;
	font-size: 30px;
	margin-left: 50px;
	  background-color: #2867b2	;
	  width: 100%;
	  height: 32px;
	  color: #FFF;
	  text-align: right;
	
  }



  #div{
		
	padding-left: 30px;
	margin-top: -5px;

font-size: 11px;

}

