
	#sidebar {
    display: none;
	
	position: absolute;
	width: 570px;
	height: 50px;
	z-index: 99999;
	left: 0px;
	top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 10px;
	background-color:#FFFFFF;
	padding:30px;
	color:#000000;
	
	border: 1px solid #589bd4;
	


	
}


.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #589bd4;

	text-align: center;
	height: 34px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 99999;
	overflow-y: auto;
	
  }




/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
    font-size:12px;

}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 24px;
  left:92px;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 120px;
 
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 11px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 24px;
  left: 96px;
  margin-left: -78px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";

  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}




.jquery-waiting-base-container {
	position: absolute;
	left: -2px;
	top: -2px;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 999999;
	opacity: 0.90;
	-moz-opacity: 0.90;
	filter: alpha(opacity = 90);
	background-color:#FFFFFF;
	text-align:center;
	
	color:#FFFFFF;
	background-image: url("../imgs/loading.gif");
	background-repeat: no-repeat;
	background-position: 50% 35%;
	padding-top: 320px;
}


#export_csv {
	position: absolute;
	width: 47px;
	height: 42px;

}
#export_pdf {
	position: absolute;
	width: 49px;
	height: 43px;

}



#botao_todos {
	relative
	font-size: 11px;
	position: relative;
	width: 220px;
	height: 47px;
	z-index: 1;

}




#combobox1 {
	position: relative;

	font-size: 11px;
	width: 407px;
	height: auto;

	}
#combobox1 select[multiple] {
   

	font-size: 11px;
    background: #FFF;
    color:#000000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	width:436px;
	height:146px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	overflow:auto;
	border: 1px solid #cccccc;
	
	
	
	
}

#combobox2 {
	
	position: relative;

	font-size: 11px;
	width: 407px;
	height: auto;

	
	}
	
#combobox2 select[multiple] {
    
	
	font-size: 11px;
    background: #FFF;
    color:#000000;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	width:436px;
	height:146px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	overflow:auto;
	border: 1px solid #cccccc;
	
}


label {
	position: relative;
	
	}






#botao_todos2 {

	font-size: 11px;
	position: relative;
	width: 220px;
	height: 47px;
	z-index: 1;

}

hr {
		
	
	height: 10px

	}


#botao_todos_titulo input[type=text] {
	color: #fff;
	border: 1px solid #589bd4;
	background: #589bd4;

	
	font-size:14px;
	
	height: 32px;
	width:100%;
	font-weight:bold;
	
	
padding-left:10px;
padding-right:10px;
text-align:center;

}

#botao_todos_titulo2 {
	position: absolute;
	width: 429px;
	height: 32px;
	z-index: 1;

}


#botao_todos_titulo2 input[type=text] {
	color: #fff;
	border: 1px solid #589bd4;
	background: #589bd4;


	
	font-size:14px;
	
	height: 32px;
	width:100%;
	font-weight:bold;
	
	
padding-left:10px;
padding-right:10px;
text-align:center;

}

.footer input[type=submit] {  
	color: #fff;
	border: 1px solid #2867b2;
	background: #2867b2;

	
	font-size:11px;
	
	font-weight:bold;
	height: 34px;
	width:76px;
	
    }  
	
	.footer input[type=submit]:hover{
	background-color: #888888;
	transition: background-color 0.2s;
  cursor:pointer;
  color: #FFF;
  border: 1px solid #888888;
    }  



input[type=submit] {  
	color: #fff;
	border: 1px solid #2867b2;
	background: #2867b2;

	
	font-size:11px;
	
	font-weight:bold;
	height: 30px;
	width:200px;
	
    }  
	
input[type=submit]:hover{
	background-color: #888888;
	transition: background-color 0.2s;
  cursor:pointer;
  color: #FFF;
  border: 1px solid #888888;
    }  



	body {
		background-color: #ffffff;
	}
	#apDiv11 {
		width: 500px;
		background-color: #ffffff;
	
		padding-top: 50px;
		padding-left: 20px;
			
			text-transform: uppercase;
			height: 100%;
	
	}
	::-webkit-scrollbar-track {
		background-color: #F4F4F4;
	}
	::-webkit-scrollbar {
		width: 6px;
		background: #000000;
	}
	::-webkit-scrollbar-thumb {
		background: #d3d5d6;
	}
	
	
	::-webkit-scrollbar-track:horizontal {
		background-color: #F4F4F4;
	 }
	
	 ::-webkit-scrollbar:horizontal {
	  
		height: 6px;
		background: #000000;
	}
	::-webkit-scrollbar-thumb:horizontal {
		background: #d3d5d6;
	}
	
	* {




	#total{
		position:absolute;
			 
			width: 98%;
			top: 50px;
			padding-left: 1%;
			padding-right: 1%;
			
			font-size:11px;	
		
			height: 100%;
			padding-bottom: 200px;
		
		  }

#apDiv3 {
	position: fixed;
	width: 152px;
	height: 53px;
	z-index: 9999999;
	top: 0px;
	left: 0px;
}
	

