.jquery-waiting-base-container {
	position: absolute;
	left: -2px;
	top: -2px;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 999999;
	opacity: 0.90;
	-moz-opacity: 0.90;
	filter: alpha(opacity = 90);
	background-color:#ffffff;
	text-align:center;
	
	color:#FFFFFF;
	background-image: url("../imgs/loading.gif");
	background-repeat: no-repeat;
	background-position: 50% 35%;
	padding-top: 320px;
}


::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #d3d5d6;
}


::-webkit-scrollbar-track:horizontal {
    background-color: #F4F4F4;
 }

 ::-webkit-scrollbar:horizontal {
  
    height: 6px;
    background: #000000;
}
::-webkit-scrollbar-thumb:horizontal {
    background: #d3d5d6;
}

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}
body {
	background-color: #fffffff6;
}
#apDiv11 {
	width: 700px;
	background-color: #ffffff;
	height: 460px;
	margin: 20px auto;
	padding: 70px;
	text-transform: uppercase;
	border: 1px solid #d3d5d6;

	position: absolute;

	margin-top: -230px;
	margin-left: -350px;
	left: 50%;
	top:50%

}
#apDiv16_a {
	position: absolute;
	width: 1035px;
	height: 202px;
	z-index: 7;
	left: -1px;
	top: 125px;
	background-color: #FFFFFF;
	border: 1px solid #589bd4;
}

#apDiv12 {
	position: absolute;
	width: 973px;
	height: 102px;
	z-index: 99999;
	left: 41px;
	top: 43px;
	
	font-size: 12px;
	line-height: 16px;
}
	
	
#azulao input[type=submit] {  
	color: #FFF;
	
	background: #589bd4;
	border: 1px solid #589bd4;
	
	font-size:11px;
	
	height: 38px;
	width:220px;
    font-weight:bold;
    }  
	
	#azulao input[type=submit]:hover{
	background-color: #2868c7;
  	transition: background-color 0.2s;
	cursor:pointer;
	color: #FFF;

    }  
	

	hr {
		width:30px;
	
		height: 10px;
		background-color:#ECECEC;
	
		}