
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 9999999999;
	top: 0;
	left: 0;
	background-color: #FFFFFF;
	border: 1px solid grey;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 0px;
	box-shadow: 1px 0px 50px rgba(0, 0, 0, 0.5);
  }

  .sidenav a {
  
	text-decoration: none;
	font-size: 11px;
	
	color: #000000;
	display: block;
	transition: 0.3s;
  
	padding-right: 10px;
  }
  
  .sidenav a:hover {
	color: #cc0000;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 0px;
	font-size: 30px;
	margin-left: 50px;
	  background-color: #2867b2;
	  width: 100%;
	  height: 32px;
	  color: #FFF;
	  text-align: right;
	
  }
  
  #div{
		
	padding-left: 30px;
	margin-top: -5px;

font-size: 12px;

}

#protheus input[type=submit] {  
	color: #fff;
	border: 1px solid #ECECEC;
	background: #ECECEC;

	
	font-size:11px;
	
	font-weight:bold;
	height: 34px;
	width:200px;
	
    }  
	
 	#protheus input[type=submit]:hover{
	background-color: #888888;
	transition: background-color 0.2s;
  cursor:pointer;
  color: #FFF;
 
    }  




	#exportar input[type=submit] {  
		color: #fff;
		border: 1px solid #ECECEC;
		background: #ECECEC;
	
		
		font-size:11px;
		
		font-weight:bold;
		height: 34px;
		width:200px;
		
		}  
		
		 #exportar input[type=submit]:hover{
		background-color: #888888;
		transition: background-color 0.2s;
	  cursor:pointer;
	  color: #FFF;
	 
		}  

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
    font-size:10px;

}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 24px;
  left:92px;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 120px;

  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 11px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 24px;
  left: 96px;
  margin-left: -78px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";

  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

	#sidebar {
    display: none;
	
	position: absolute;
	width: 380px;
	height: 100px;
	z-index: 99999;
	right:0px;
	top: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 10px;
	background-color:#FFFFFF;
	padding:50px;
	color:#000000;
	
	
	border: 1px solid #589bd4;
	


	
}

.help:hover #sidebar {
    display:block;


}

#help {
	position: absolute;
	width: 50px;
	height: 51px;
	right:134px;
	top: -25px;
	cursor: pointer;
	z-index: 99999999;
}



.jquery-waiting-base-container {
	position: absolute;
	left: -2px;
	top: -2px;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 999999;
	opacity: 0.95;
	-moz-opacity: 0.95;
	filter: alpha(opacity = 95);
	background-color:#FFFFFF;
	
	background-image: url("../imgs/loading.gif");
	background-repeat: no-repeat;
	background-position: 50% 35%;
	padding-top: 250px;
}
hr {
		
	
	height: 10px

	}


#export_csv {
	position: relative;
	width: 100%;
	height: 35px;
	left: 0px;
	top: 0px;
	z-index: 999991;
}


#export_csv input[type=submit] {
	color: #888888;
	border: 1px solid #ECECEC;
	background: #ECECEC;
	font-size:11px;
	height: 34px;
	width:auto;
	
	text-align:center;
	line-height:15px;
	word-wrap: break-word;
	word-break: break-word;
	padding-left: 20px;
	padding-right: 20px;
	
	
	
}

input[type=submit] {  
	color: #fff;
	border: 1px solid #2867b1;
	background: #2867b1;

	
	font-size:11px;
	
	font-weight:bold;
	height: 34px;
	width:100px;


    }  
	
input[type=submit]:hover{
	background-color: #888888;
	transition: background-color 0.2s;
  cursor:pointer;
  color: #FFF;
  border: 1px solid #888888;
    }  

.botao {
	
	color: #fff;
	border: 1px solid #888888;
	background: #888888;
	height: 34px;
	width:220px;
	
	text-align:center;
	line-height:15px;

		
	cursor:pointer;
}


#export_csv input[type=submit]:hover{
	background: #888888;
	border: 1px solid #888888;
	cursor:pointer;
    }  

#export_xls {
	position: absolute;
	width: 106px;
	height: 36px;
	left: 490px;
	top: -19px;
	z-index: 999991;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #000000;
}
::-webkit-scrollbar-thumb {
    background: #d3d5d6;
}


::-webkit-scrollbar-track:horizontal {
    background-color: #F4F4F4;
 }

 ::-webkit-scrollbar:horizontal {
  
    height: 6px;
    background: #000000;
}
::-webkit-scrollbar-thumb:horizontal {
    background: #d3d5d6;
}

body {
	background-color: #fffffff6;
}

#export_xls input[type=submit] {
	color: #fff;
	border: 1px solid #5cbc69;
	background: #5cbc69;

	
	font-size:11px;
	
	height: 34px;
	width:100px;
	
text-align:center;
line-height:15px;
	 word-wrap: break-word;
    word-break: break-word;
	
	
}
#export_xls input[type=submit]:hover{
	background: #249333;
	border: 1px solid #249333;
	cursor:pointer;
    }  



#export_mo {
	position: absolute;
	width: 155px;
	height: 35px;
	right: 237px;
	top: -18px;
}




#export_pdf {
	position: absolute;
	width: 318px;
	height: 35px;
	right: 185px;
	top: 0;
}

#export_pdf input[type=submit] {
	color: #fff;
	border: 1px solid #888888;
	background: #888888;
	font-size:11px;	
	height: 34px;
	width:110px;
	
	
	
text-align:center;
line-height:15px;
	 word-wrap: break-word;
    word-break: break-word;
	
	
}
#export_pdf input[type=submit]:hover{
	background: #888888;
	border: 1px solid #888888;
	cursor:pointer;
    }  


#apDiv13_todos {
	position: absolute;
	width: 96px;
	height: 25px;
	z-index: 99999999;
	right: 32px;
	top: -19px;
}


#apDiv13b {
position: absolute;
width: 90px;
height: 25px;

	right:-10px;
	top: 0px;
}

#apDiv13b input[type=submit] {
	color: #fff;
	border: 1px solid #589bd4;
	background: #589bd4;


	font-size:11px;
	
	height: 34px;
	width:100px;
	font-weight:bold;
}

#apDiv13b input[type=submit]:hover{
		background: #2867b1;
	border: 1px solid #2867b1;
	cursor:pointer;
    }  
	


	#combobox1 {
		position: relative;
	
		font-size: 11px;
		width: 407px;
		height: auto;
	
		}
	#combobox1 select[multiple] {
	   
	
		font-size: 11px;
		background: #FFF;
		color:#000000;
		border:none;
		outline:none;
		display: inline-block;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		cursor:pointer;
		width:200px;
		height:146px;
		padding-left:10px;
		padding-top:10px;
		padding-bottom:10px;
		overflow:auto;
		border: 1px solid #cccccc;
		
		
		
		
	}
	
	#combobox2 {
		
		position: relative;
	
		font-size: 11px;
		width: 407px;
		height: auto;
	
		
		}
		
	#combobox2 select[multiple] {
		
		
		font-size: 11px;
		background: #FFF;
		color:#000000;
		border:none;
		outline:none;
		display: inline-block;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		cursor:pointer;
		width:436px;
		height:146px;
		padding-left:10px;
		padding-top:10px;
		padding-bottom:10px;
		overflow:auto;
		border: 1px solid #cccccc;
		
	}
	
	
	label {
		position: relative;
		
		}
	
	
	
	

#apDiv11 {
position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	left: 0px;
	top: 61px;
	
	
	
}
#apDiv12 {
	position: absolute;
	z-index: 1;
	left: 20px;
	top: 40px;
	width: 93%;
	overflow: auto;
	height: 87%;
	background-color: #FFFFFF;
	
	
}
#apDiv13 {
	position: absolute;
	width: 90px;
	height: 32px;
	z-index: 1;
	left: 1188px;
	top: 623px;
}
#total{
	position:absolute;
		 
		width: 98%;
		top: 60px;
		padding-left: 1%;
		padding-right: 1%;
		padding-bottom: 200px;
		
	
	  }
  
table.bordasimples {
	border-collapse: collapse;
	
	}

table.bordasimples tr td {

	font-size: 10px;
border:1px solid #d3d5d6;
text-align:left;
padding-left: 5px;
padding-right: 5px;
}
.bordasimples1 {
	
	font-size: 10px;
	border:0px solid #FFFFFF;
	padding: 7px 7px 7px 7px;

}


.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #589bd4;

	text-align: center;
	height: 34px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 99999;
	overflow-y: auto;
	
  }


  .footer input[type=submit] {  
	color: #fff;
	border: 1px solid #2867b1;
	background: #2867b1;

	
	font-size:11px;
	
	font-weight:bold;
	height: 34px;
	width:76px;


    }  
	
	.footer input[type=submit]:hover{
	background-color: #888888;
	transition: background-color 0.2s;
  cursor:pointer;
  color: #FFF;
  border: 1px solid #888888;
    }  


#apDiv1 {
	position: absolute;
	width: 100%;
	height: 33px;
	z-index: -1;
	left: 0px;
	top: 0px;
	background-color: #589bd4;
}
#apDiv2 {
	position: absolute;
	width: 76px;
	height: 100%;
	z-index: 2;
	left: 0px;
	top: 33px;
	background-color: #589bd4;
}
#apDiv3 {
	position: fixed;
	width: 76px;
	height: 53px;
	z-index: 9999999;
	top: 0px;
	left: 0px;
}
#apDiv4 {
	position: absolute;
	width: 76px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 184px;

}
#apDiv5 {
	position: absolute;
	width: 76px;
	height: 65px;
	z-index: 5;
	left: 0px;
	top: 102px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
		text-transform: uppercase;

}
#apDiv6 {
	position: absolute;
	width: 76px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 238px;
	
}

#apDiv7 {
	position: absolute;
	width: 76px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 292px;
	
}
#apDiv8 {
	position: absolute;
	width: 76px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 346px;
	
}

#apDiv9 {
	position: absolute;
	width: 76px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 400px;
	
}
#apDiv5 table tr td {
	color: #FFF;

	
}
#apDiv10 {
	position: absolute;
	width: 76px;
	height: 41px;
	z-index: 6;
	left: 27px;
	top: 452px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	line-height:15px;
	}
	
	#apDiv14 {
	position: absolute;
	width: 672px;
	height: 29px;
	z-index: 7;
	left: 38px;
	top: 77px;
	font: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}
	
	
	#botao{
	position: absolute;
	left: 1150px;
	top: 120px;
	z-index:9998;
	}
#popup{
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;

	}

	#pag1{
		position: fixed;
								width: 100%;
								left: 0px;
								top: 0px;
								height:100%;
							
							z-index:999999999999999999999999999999999999;
							background-color: white;
						
							background-repeat: repeat;
							background-size: cover;
							opacity: 0.7;
						
		}
	
	
	  #pag2{
		position: fixed;
							width: 1216px;
							height: 700px;
							top: 4px;
							left: 18px;
						
							position: absolute;
							border: 1px solid silver;
							background-color: white;
						
							
						
								z-index:999999999999999999999999999999999999;
								
							
		}
			
		#pag1x{
			position: fixed;
									width: 100%;
									left: 0px;
									top: 0px;
									height:100%;
								
								z-index:999999999999999999999999999999999999;
								background-color: white;
							
								background-repeat: repeat;
								background-size: cover;
								opacity: 0.7;
							
			}
		
		
		  #pag2x{
			position: fixed;
								width: 1216px;
								height: 700px;
								top: 4px;
								left: 18px;
							
								position: absolute;
								border: 1px solid silver;
								background-color: white;
								overflow: scroll;
								
							
									z-index:999999999999999999999999999999999999;
									
								
			}
				
			
	

	#mapCanvas {
    width: 200px;
    height: 200px;
  }	
