
.jquery-waiting-base-container {
		position: absolute;
	left: -2px;
	top: -2px;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 999999;
	opacity: 0.95;
	-moz-opacity: 0.95;
	filter: alpha(opacity = 95);
	background-color:#FFFFFF;
	
	background-image: url("../imgs/loading.gif");
	background-repeat: no-repeat;
	background-position: 50% 35%;
	padding-top: 250px;
}


#apDiv14 input[type=submit] {
color: #fff;
	border: 1px solid #FF9300;
	background: #FF9300;

	font-size:13px;
	
	height: 30px;
	width:220px;
	font-weight:bold;
	margin-left:20px;
}

#apDiv14 input[type=submit]:hover{
		background: #E18D03;
	border: 1px solid #E18D03;
	cursor:pointer;
    }  
	
	
#apDiv13b input[type=submit] {
	color: #fff;
	border: 1px solid #589bd4;
	background: #589bd4;

	
	font-size:13px;
	
	height: 30px;
	width:100px;
	font-weight:bold;
}

#apDiv13b input[type=submit]:hover{
	background: #2867b1;
	border: 1px solid #2867b1;
	cursor:pointer;
    }  
	



#apDiv11 {
position: absolute;
	width: 90%;
	height: 85%;
	z-index: 0;
	left: 110px;
	top: 61px;

	
}

#apDiv12 {
	position: absolute;
	left: 1px;
	top: 68px;
	height: 78%;
	z-index: 1;
	width: 100%;
	top: 85px;
	
	overflow: auto;
}
#carrega {
	z-index:3;
	
}
#tabela {
	z-index:999999;
	}
#sidebar {
    display: none;
	
	position: absolute;
	width: 570px;
	height: 90px;
	z-index: 99999;
	left: 60px;
	top: -70px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 10px;
	background-color:#FFFFFF;
	padding:50px;
	color:#000000;
	
	border: 1px solid #589bd4;
	
	-webkit-animation: fadein 1s; 
       -moz-animation: fadein 1s; 
        -ms-animation: fadein 1s; 
         -o-animation: fadein 1s; 
            animation: fadein 1s;
	
}

.help:hover #sidebar {
    display:block;

	
}

#help {
	position: absolute;
	width: 50px;
	height: 51px;
	left: 15px;
	top: 455px;
	cursor: pointer;
	z-index:99999;
}


#apDiv13 {
	position: absolute;
	width: 90px;
	height: 32px;
	z-index: 1;
	left: 351px;
	top: 0px;
}

#apDiv13b {
	position: absolute;
	width: 90px;
	height: 32px;
	z-index: 1;
	left: 241px;
	top: 0px;
}

#apDiv13_todos {
	position: absolute;
	width: 464px;
	height: 32px;
	z-index: 1;
	left: 55%;
	top: -1px;
}

#apDiv13c {
	position: absolute;
	width: 430px;
	height: 32px;
	z-index: 1;
	left: -150px;
	top: 17px;

	text-align:left;
}

#apDiv13c input[type=submit] {
	color: #fff;
	border: 1px solid #FF9300;
	background: #FF9300;

	
	font-size:13px;
	
	height: 30px;
	width:230px;
	font-weight:bold;
}

#apDiv13c input[type=submit]:hover{
	background: #E18D03;
	border: 1px solid #E18D03;
	cursor:pointer;
    }  
	
	
#apDiv14 {
	position: absolute;
	width: 352px;
	height: 32px;
	z-index: 7;
	left: 68%;
	top: 54px;
	font: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}









   input[type=submit] {  
	color: #fff;
	border: 1px solid #5cbb69;
	background: #5cbb69;

	
	font-size:13px;
	
	height: 30px;
	width:100px;
	font-weight:bold;

    }  
	
input[type=submit]:hover{
	background: #249333;
	border: 1px solid #249333;
	cursor:pointer;
    }  

 #total{
    width: 100%;
    height: 450px;
	overflow: false;
	background-color: #FFF;
		border-color:#666;
		margin-right:20px;
	
  }
table.bordasimples {
	border-collapse: collapse;
	}

table.bordasimples tr td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
border:1px solid #d3d5d6;
text-align:center;

}

#apDiv1 {
	position: absolute;
	width: 100%;
	height: 33px;
	z-index: -1;
	left: 0px;
	top: 0px;
	background-color: #589bd4;
}
#apDiv2 {
	position: absolute;
	width: 76px;
	height: 100%;
	z-index: 2;
	left: 0px;
	top: 33px;
	background-color: #589bd4;
}
#apDiv3 {
	position: absolute;
	width: 152px;
	height: 53px;
	z-index: 3;
	top: 0px;
	left: 0px;
}
#apDiv4 {
	position: absolute;
	width: 118px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 184px;
	
}
#apDiv5 {
	position: absolute;
	width: 195px;
	height: 65px;
	z-index: 5;
	left: 0px;
	top: 102px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
		text-transform: uppercase;

}
#apDiv6 {
	position: absolute;
	width: 118px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 238px;
	opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

#apDiv7 {
	position: absolute;
	width: 118px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 292px;
	opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
#apDiv8 {
	position: absolute;
	width: 118px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 346px;
			opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

#apDiv9 {
	position: absolute;
	width: 118px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 400px;
			opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
#apDiv5 table tr td {
	color: #FFF;

	
}
#apDiv10 {
	position: absolute;
	width: 144px;
	height: 41px;
	z-index: 6;
	left: 27px;
	top: 236px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	line-height:15px;
	}
	
