@charset "UTF-8";

::-webkit-scrollbar { width: 8px; height: 8px;}
::-webkit-scrollbar-button {  background-color: #999; }
::-webkit-scrollbar-track {  background-color: #579bd3;}
::-webkit-scrollbar-track-piece { background-color: #d6d6d6;}
::-webkit-scrollbar-thumb { height: 70px; background-color: #2867b1;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #579bd3;}
::-webkit-scrollbar-button:vertical:increment {background-image:url(../imgs/setabaixo.png);}
::-webkit-scrollbar-button:vertical:decrement {background-image:url(../imgs/setacima.png);}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #eef2f6 inset;
}


input:focus{
outline:none;
}

.jquery-waiting-base-container {
		position: absolute;
	left: -2px;
	top: -2px;
	margin: 0px;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 999999;
	opacity: 0.95;
	-moz-opacity: 0.95;
	filter: alpha(opacity = 95);
	background-color:#000;
	
	background-image: url("../imgs/loading.gif");
	background-repeat: no-repeat;
	background-position: 50% 35%;
	padding-top: 250px;
}
 #total{
	 position:relative;
	 
    width: 100%;
    
	overflow: false;
	
	border-color:#579bd3;
	
	
  }
  

  
  table.bordasimples {
	border-collapse: collapse;
	}

table.bordasimples tr td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	border:1px solid #589bd4;
	padding: 7px 7px 7px 7px;
	text-align:center;

}

#apDiv11 {
	position: absolute;
	width: 90%;
	height: 1000px;
	z-index: 0;
	left: 110px;
	top: 61px;
	background-color: #FFF;
	border: 1px solid #d6d6d6;
}
	
	#apDiv12 {
	position: absolute;
	z-index: 1;
	left: 40px;
	top: 80px;
	width: 94%;
	overflow: auto;
	height: 370px;
	background-color: #FFFFFF;
	border: 1px solid #589bd4;
}
	
	#apDiv12x {
	position: absolute;
	width: 890px;
	height: 333px;
	z-index: 1;
	left: 38px;
	top: 588px;
	border: 1px solid #579bd3;
	padding: 10px;
}
#apDiv12xx {
	position: absolute;
	width: 1238px;
	height: 75px;
	z-index: 1;
	left: -10px;
	top: 487px;
	padding: 10px;
}

	#nome {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 377px;
	top: 31px;
	left: 42px;
	height: 35px;
	}
	
	#nome input {
	border: 1px solid #d3d5d6;

	height: 18px;
	padding-left:5px;
	width:200px;
	}
	
	#quantidade {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 376px;
	top: 59px;
	left: 44px;
	height: 27px;
	}
	#quantidade input {
	border: 1px solid #d3d5d6;

	height: 18px;
	padding-left:5px;
	width:200px;
	}
	#transp {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 376px;
	top: 88px;
	left: 44px;
	height: 27px;
	}
	#transp input {
	border: 1px solid #d3d5d6;

	height: 18px;
	padding-left:5px;
	width:200px;
	}
	
	
	#tipo {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 312px;
	top: 49px;
	left: 596px;
	height: 280px;
	}
   
   #cor {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 318px;
	top: 274px;
	left: 40px;
	height: 47px;
	}


#custo1 {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 405px;
	top: 138px;
	left: 43px;
	height: 35px;
	}
#custo1 input {
	border: 1px solid #d3d5d6;
	
	height: 18px;
	padding-left:5px;
	width:200px;
	}
	
#peso {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 405px;
	top: 167px;
	left: 42px;
	height: 35px;
	}
#peso input {
	border: 1px solid #d3d5d6;
	
	height: 18px;
	padding-left:5px;
	width:200px;
	}

#volume {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 406px;
	top: 195px;
	left: 42px;
	height: 35px;
	}
#volume input {
	border: 1px solid #d3d5d6;

	height: 18px;
	padding-left:5px;
	width:200px;
	}
#valor {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 452px;
	top: 224px;
	left: 42px;
	height: 35px;
	}
#valor input {
	border: 1px solid #d3d5d6;
	
	height: 18px;
	padding-left:5px;
	width:200px;
	}

#ativo {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 91px;
	top: 35px;
	left: 415px;
	height: 35px;
	}
	
	#ativo input[type="checkbox"] {
   border: 1px solid #d3d5d6;
	
	
	
}

	#tipo_1 {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 22px;
	top: 71px;
	left: 87px;
	height: 24px;
	}
		#tipo_2 {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 22px;
	top: 71px;
	left: 184px;
	height: 24px;
	}
		#tipo_3 {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 22px;
	top: 164px;
	left: 88px;
	height: 24px;
	}
	
	#tipo_4 {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 22px;
	top: 164px;
	left: 185px;
	height: 24px;
	}
	
	#tipo_5 {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 22px;
	top: 260px;
	left: 89px;
	height: 24px;
	}
	#tipo_6 {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 22px;
	top: 259px;
	left: 184px;
	height: 24px;
	}
	
	
	#apDiv13 {
	position: absolute;
	width: 90px;
	height: 32px;
	z-index: 1;
	left: 784px;
	top: 0px;
}

	#apDiv13c {
	position: absolute;
	width: 90px;
	height: 32px;
	z-index: 1;
	left: 784px;
	top: 0px;
}
#cor_volta{
	position: absolute;
	width: 16px;
	height: 16px;
	top: 3px;
	left: 108px;
	}
	




#apDiv21 {
	position: absolute;
	width: 100%;
	height: 2px;
	z-index: 11;
	top: 11%;
	left: 0px;
	background-color:#EBEBEB;
}
   input[type=submit] {  
	color: #fff;
	border: 1px solid #5cbb69;
	background: #5cbb69;


	font-size:13px;
	
	height: 30px;
	width:100px;
font-weight:bold;
    }  
	
	#apDiv13 input[type=submit]:hover{
	background: #249333;
	border: 1px solid #249333;
	cursor:pointer;
    }  
	
	
	#apDiv13c input[type=submit] {  
	color: #fff;
	border: 1px solid #589bd4;
	background: #589bd4;

	font-size:13px;
	
	height: 30px;
	width:100px;
font-weight:bold;
    }  
	
	#apDiv13c input[type=submit]:hover{
	background: #2867b1;
	border: 1px solid #2867b1;
	cursor:pointer;
    }  
	
	
	#apDiv1 {
	position: absolute;
	width: 100%;
	height: 33px;
	z-index: -1;
	left: 0px;
	top: 0px;
	background-color: #589bd4;
}
#apDiv2 {
	position: absolute;
	width: 76px;
	height: 1100px;
	z-index: 2;
	left: 0px;
	top: 33px;
	background-color: #589bd4;
}
#apDiv3 {
	position: absolute;
	width: 152px;
	height: 53px;
	z-index: 3;
	top: 0px;
	left: 0px;
}
#apDiv4 {
	position: absolute;
	width: 118px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 184px;
	opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
#apDiv5 {
	position: absolute;
	width: 195px;
	height: 65px;
	z-index: 5;
	left: 0px;
	top: 102px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
		text-transform: uppercase;

}
#apDiv6 {
	position: absolute;
	width: 118px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 238px;
	opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

#apDiv7 {
	position: absolute;
	width: 118px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 292px;
	opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
#apDiv8 {
	position: absolute;
	width: 118px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 346px;
			opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

#apDiv9 {
	position: absolute;
	width: 118px;
	height: 47px;
	z-index: 4;
	left: 15px;
	top: 400px;
			opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}
#apDiv5 table tr td {
	color: #FFF;

	
}
#apDiv10 {
	position: absolute;
	width: 144px;
	height: 41px;
	z-index: 6;
	left: 27px;
	top: 236px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	}
#apDiv11 a:link {
    color: #FFFFFF;
}

/* visited link */
#apDiv11 a:visited {
    color: #FFFFFF;
}

/* mouse over link */
#apDiv11 a:hover {
    color: #2867b2;
}

/* selected link */
#apDiv11 a:active {
    color: #2867b2;
}
