@charset "UTF-8";
#apDiv11 {
	position: absolute;
	width: 645px;
	height: 115px;
	z-index: 0;
	left: 229px;
	top: 62px;
}
#apDiv12 {
	position: absolute;
	width: 532px;
	height: 55px;
	z-index: 1;
	left: 32px;
	top: 103px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
}
#apDiv13 {
	position: absolute;
	width: 90px;
	height: 32px;
	z-index: 1;
	left: 898px;
	top: 478px;
}
#apDiv14 {
	position: absolute;
	color: #FFF;
	width: 426px;
	height: 129px;
	z-index: 2;
	left: 292px;
	top: 192px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 34px;
}
#apDiv15 {
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: #FFF;
	z-index: 3;
	left: 657px;
	top: 266px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 48px;
	text-align: right;
	}
#apDiv16 {
	position: absolute;
	width: 100px;
	height: 20px;
	background-color: #FFF;
	z-index: 7;
	left: 657px;
	top: 300px;
}
#apDiv17 {
	position: absolute;
	z-index: 8;
	left: 737px;
	top: 198px;
	width: 20px;
	height: 20px;
	background-color: #FFF;
}
#apDiv18 {
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #FFF;
	z-index: 9;
	left: 737px;
	top: 231px;
}

#apDiv12 {
	position: absolute;
	width: 531px;
	height: 54px;
	z-index: 1;
	left: 32px;
	top: 307px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 20px;
}
#apDiv13 {
	position: absolute;
	width: 90px;
	height: 32px;
	z-index: 1;
	left: 898px;
	top: 478px;
}

#apDiv11 {
	position: absolute;
	width: 645px;
	height: 115px;
	z-index: 0;
	left: 229px;
	top: 62px;
}
#apDiv19 {
	position: absolute;
	width: 433px;
	height: 18px;
	z-index: 9999;
	left: 13px;
	top: 9px;
}
